<div class="nav-bar">
    <div class="navleft">
        <h3>Movie<span>Flix</span></h3>
    </div>
    <div class="nav-button">
        <ul>
            <a href="./"><li>Home</li></a>
            <a href="./movies"><li>Movies</li></a>
            <a href="./popular"><li>Most Popular</li></a>
            <a href="./trending"><li>Trending</li></a>
        </ul>
    </div>
    <form method="post" action="/search">
        <input class="searchinp" type="text" name="query" placeholder="movie name">
        <button class="searchbtn" type="submit"><i class=" search_logo fas fa-search search-icon"></i></button>
    </form>
   
</div>